.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  position: relative;
  z-index: 1000;
}

.units-dropdown {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.dropdown-section h5 {
  margin-bottom: 0.4rem;
  padding: 0.4rem;
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
}


.dropdown-section h5:hover {
  background-color: var(--color-surface-alt);
  cursor: pointer;
}

/* Custom Dropdown  */
.units-dropdown {
  position: relative;
}

.units-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--color-surface);
  color: inherit;
  border: 1px solid var(--color-surface-alt);
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-family: var(--font-body);
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  font-size: 18px;
}

.units-btn:hover {
  background: var(--color-surface-alt);

}

/* Dropdown Panel */

.dropdown-menu {
  position: absolute;
  top: 130%;
  right: 0;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 9px;
  width: 13.5rem;
  z-index: 10000;
}

/* Sections */
.dropdown-section {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}


.dropdown-label {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--gray);
  margin-bottom: 0.3rem;
  margin-left: 0.4rem;
}

/* Buttons inside dropdown */
.dropdown-section button {
  display: block;
  width: 100%;
  text-align: left;
  background: transparent;
  border: none;
  padding: 0.6rem;
  border-radius: 6px;
  color: inherit;
  /* color: var(--white); */
  font-family: var(--font-body);
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
}

.dropdown-section button:hover {
  background: var(--color-surface-alt);
}


.unit-icon {
  width: 20px;
  height: 20px;
}

.dropdown-icon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.dropdown-section button.active {
  background-color: var(--color-surface-alt);
  font-weight: 600;
}

.dropdown-section button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-icon {
  width: 16px;
  height: 16px;
}

.dropdown-section:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.box-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* photo + no photo bg I mean toggle bg */
.photo-icon, .no-photo-icon {

  cursor: pointer;
  
}

body.bg-image {
  background-image: url('https://images.unsplash.com/photo-1756877978976-45ea8283892e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* optional: different bg for light theme */
body.bg-image.light {
  background-image: url('https://images.unsplash.com/photo-1618819483214-9eac1f7e51cb?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.photo-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 6px;
}
